.ant-form {
  .ant-form-item {
    margin-bottom: unset;
    height: 29px;
    line-height: 29px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    input {
      border: unset;
    }

    .ant-input-password {
      border: unset;
    }

    .ant-radio-button-wrapper {
      border: unset;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0;
      &:last-child {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      &::before {
        display: none;
      }
    }
  }
  .ant-form-item-required {
    font-size: 9px !important;
  }
  margin-bottom: 9px;
}
